@media (max-width: 1600px) {
	.container{max-width: inherit; width: 1210px;}

	.site-header .logo-name .lazy {width: 74px;}
	.site-header .logo-name .txt {padding-left: 12px;font-size: 26px;}

	.site-header .main-menu .nav-home .link {width: 74px;height: 74px;line-height: 68px;}
	.site-header .main-menu .nav-home .link .lazy {width: 40px;height: 30px;}

	.menu-mobile-btn {width: 74px;height: 74px;}

	.whead .title {font-size: 120px;}

	.nav-close-menu{width: 74px; height: 74px;}

	.-section-home .brand .logo {width: 280px;height: 172px;}
	.-section-home .brand .logo-txt {top: 200px;}

	.-section-about .data-content {width: 1000px;}
	.-section-about .data-content .cover {width: 346px;height: 433px;margin-right: 46px;}
	.-section-about .data-content .cover:before {top: 35px;right: 35px;}
	.-section-about .data-content .item-list {width: 630px;}
	.-section-about .data-content .link {padding: 20px 25px;}
	.-section-about .data-content .link .lazy {width: 35px;height: 30px;margin-right: 6px;}
	.-section-about .data-content .link .txt {font-size: 18px;}

	#AboutMe .data-content{width: 950px;}
	#AboutMe .item-list li {padding: 30px 0;}
	#AboutMe .txt {font-size: 18px;}

	#Education .item-list{width: 1400px;}
	#Education .icon {width: 43px;height: 43px;}
	#Education .icon img {max-width: 27px;max-height: 22px;}
	#Education .year {font-size: 30px;}
	#Education .txt {font-size: 18px;}

	#Skill .content{width: 1000px;}
	#Skill .txt, #Skill .percent {font-size: 18px;}

	#Work .item-list {width: 80px;}
	
	#Work .item-list > li + li:before {height: 20px;}
	#Work .icon{width: 80px;}
	#Work .txt {font-size: 20px;margin-top: 10px;}
	#Work .desc {font-size: 18px;margin-top: 8px;}
	#Work.open .item-list > li + li {margin-top: 20px;}
	#Work.open .icon {width: 80px;height: 80px;}
	#Work.open .-L .info {padding-right: 20px;}
	#Work.open .-R .info {padding-left: 20px;}

	.-section-contact .data-content{width: 1000px;}
	.-section-contact .item-list li{min-height: 150px;}
	.-section-contact .item-list li:nth-child(1) {padding-bottom: 25px;padding-left: 105px;padding-top: 75px;}
	.-section-contact .item-list li:nth-child(2) {padding-bottom: 25px;padding-left: 125px;padding-top: 75px;}
	.-section-contact .item-list li:nth-child(3) {padding-bottom: 25px;padding-left: 115px;padding-top: 75px;}
	.-section-contact .item-list li:nth-child(4) {padding-top: 30px;padding-left: 105px;}
	.-section-contact .item-list li:nth-child(5) {padding-top: 30px;padding-left: 125px;}
	.-section-contact .item-list li:nth-child(6) {padding-top: 30px;padding-left: 115px;}
	.-section-contact .wrapper .icon {top: -4px;margin-right: 6px;font-size: 25px;}
	.-section-contact .wrapper .content .txt,
	.-section-contact .wrapper .content .link{font-size: 18px;}

	.-section-portfolio .nav-tabs .nav-link {width: 210px;height: 54px;line-height: 52px; font-size: 14px;}
	.-section-portfolio .nav-tabs .nav-link img{width: 20px;}
	.-section-portfolio .portfolio-slider {width: 1200px;height: 300px;}
	.-section-portfolio .portfolio-slider .tag {width: 100px;height: 30px;line-height: 30px;font-size: 12px;}
	.-section-portfolio .portfolio-slider .slick-slide .link {width: 320px;height: 220px;}
	.-section-portfolio .portfolio-slider .slick-center {margin-left: -100px;margin-right: -100px;margin-top: -60px;}
	.-section-portfolio .portfolio-slider .slick-center .link {width: 540px;height: 285px;}	
	.-section-portfolio .portfolio-slider .slick-center .thumb:before {top: -15px;left: -15px;right: -15px;bottom: 15px;}
	

}

@media (max-width: 1440px) /*check 1280*/ {
	.container{max-width: inherit; width: 1210px;}

	.site-header .logo-name .lazy {width: 65px;}
	.site-header .logo-name .txt {padding-left: 10px;font-size: 24px;}

	.site-header .main-menu .nav-home .link {width: 65px;height: 65px;line-height: 60px;}
	.site-header .main-menu .nav-home .link .lazy {width: 35px;height: 28px;}

	nav.menu li a.link {font-size: 18px;}

	.menu-mobile-btn {width: 65px;height: 65px;}
	.menu-mobile-btn .btn-mobile {width: 30px;height: 20px;}
	.menu-mobile-btn .btn-mobile .bar {height: 2px;}

	.whead .title {font-size: 100px;}

	.nav-close-menu{width: 65px; height: 65px;}
	.nav-close-menu .btn-close-menu {width: 30px;height: 20px;}
	.nav-close-menu .btn-close-menu .bar {height: 2px;}

	.-section-home .brand .logo {width: 240px;height: 145px;}
	.-section-home .brand .logo-txt {top: 170px; font-size: 14px;}

	.-section-about .data-content {width: 830px;}
	.-section-about .data-content .cover {width: 260px;height: 330px;margin-right: 30px;}
	.-section-about .data-content .cover:before {top: 30px;right: 30px;}
	.-section-about .data-content .item-list {width: auto; margin: 0 -5px;}
	.-section-about .data-content .item-list li {padding: 5px;}
	.-section-about .data-content .link .lazy {width: 30px;height: 25px;}
	.-section-about .data-content .link .txt {font-size: 16px;}

	#AboutMe .data-content {width: 770px;}
	#AboutMe .icon img {height: 26px;}
	#AboutMe .txt {font-size: 16px;}

	#Education .item-list {width: 1200px;}
	#Education .item-list li {height: 6px;}
	#Education .icon {width: 35px;height: 35px;}
	#Education .icon img {max-width: 22px;max-height: 18px;}
	#Education .year {font-size: 20px;}
	#Education .txt {font-size: 14px;}
	#Education.open .up .year {bottom: 50px;}
	#Education.open .up .txt {bottom: 30px;}
	#Education.open .down .txt {top: 30px;}
	#Education.open .down .year {top: 45px;}

	#Skill .content {width: 800px;}
	#Skill .item-list {margin: -50px -30px;}
	#Skill .item-list li {padding: 0 30px;margin: 50px 0;}
	#Skill .txt, 
	#Skill .percent {font-size: 14px;}
	#Skill .txt {left: 30px;}
	#Skill .percent {right: 30px;}
	#Skill .percent-bar {height: 6px;}
	#Skill .percent-bar .percent-bar-in {height: 6px;}

	#Work .item-list {width: 65px;}
	#Work .icon {width: 65px;}
	#Work .icon img {max-width: 30px;max-height: 30px;}
	#Work .timeline {font-size: 14px;}
	#Work .txt {font-size: 18px;margin-top: 6px;}
	#Work .desc {font-size: 16px;margin-top: 4px;}
	#Work.open .icon {width: 65px;height: 65px;}

	.-section-contact .data-content {width: 900px;}
	.-section-contact .item-list li {min-height: 120px;}
	.-section-contact .item-list li:nth-child(1) {padding-bottom: 20px;padding-left: 100px;padding-top: 50px;}
	.-section-contact .item-list li:nth-child(2) {padding-bottom: 20px;padding-left: 110px;padding-top: 50px;}
	.-section-contact .item-list li:nth-child(3) {padding-bottom: 20px;padding-left: 105px;padding-top: 50px;}
	.-section-contact .item-list li:nth-child(4) {padding-top: 20px;padding-left: 100px;}
	.-section-contact .item-list li:nth-child(5) {padding-top: 20px;padding-left: 110px;}
	.-section-contact .item-list li:nth-child(6) {padding-top: 20px;padding-left: 105px;}

	.-section-portfolio .nav-tabs .nav-link {width: 180px;height: 50px;line-height: 48px;}
	.-section-portfolio .portfolio-slider {width: 900px;height: 240px;}
	.-section-portfolio .portfolio-slider .slick-slide .link {width: 280px;height: 180px;}
	.-section-portfolio .portfolio-slider .slick-center {margin-left: -60px;margin-right: -60px; margin-top: -40px;}
	.-section-portfolio .portfolio-slider .slick-center .link {width: 420px;height: auto;}
	
}

@media (max-width: 1199px) /*check 1024*/{
	.container{max-width: inherit; width: 970px;}

	.slick-dots li {margin: 0 4px;}
	.slick-dots li button {width: 8px;height: 8px;}
	.slick-dots li.slick-active button {width: 30px;}

	.site-header .logo-name .lazy {width: 50px;}
	.site-header .logo-name .txt {font-size: 20px;}

	.site-header .main-menu .nav-home .link {width: 50px;height: 50px;line-height: 46px;}
	.site-header .main-menu .nav-home .link .lazy {width: 30px;height: 26px;}

	nav.menu li a.link {font-size: 16px; padding: 12px 20px;}

	.menu-mobile-btn {width: 50px;height: 50px;}
	.menu-mobile-btn .btn-mobile {width: 26px;}

	.whead .title {font-size: 80px;}

	.nav-close-menu{width: 50px; height: 50px;}
	.nav-close-menu .btn-close-menu {width: 26px;}

	.section .link-btn {font-size: 14px;}
	.section .link-btn:before {width: 20px;height: 20px;border-left-width: 1px;border-bottom-width: 1px;}
	.section .link-btn .circle{width: 80px;height: 80px;}
	.section .link-btn .circle.v1,
	.section .link-btn .circle.v2,
	.section .link-btn .circle.v3,
	.section .link-btn .circle.v4{@include transition-delay(0ms);}
	.section .link-btn:hover .circle {opacity: 0.3;}
	.section .link-btn:hover .circle.v1,
	.section .link-btn:hover .circle.v2,
	.section .link-btn:hover .circle.v3,
	.section .link-btn:hover .circle.v4 {animation-duration: 1s;animation-delay: 10ms;}
	.section .btn-left {padding-left: 15px;}
	.section .btn-left.link-btn:before {top: -2px;}
	.section .btn-left .circle {top: -32px;left: 3px;}
	.section .btn-right {padding-right: 20px;}
	.section .btn-right.link-btn:before {top: -2px;}
	.section .btn-right .circle {top: -32px;right: 5px;}
	.section .btn-bottom {padding-bottom: 15px;}
	.section .btn-bottom .circle {top: -32px;left: -22px;}
	.section .btn-top {padding-top: 15px;}
	.section .btn-top .circle {left: -23px;}

	.-section-home .brand .logo {width: 200px;height: 120px;}
	.-section-home .brand .logo-txt {top: 145px;font-size: 12px;}
	.-section-home .clouds{background-size: cover;}

	.-section-about .data-content {width: 630px;}
	.-section-about .data-content .cover {width: 180px;height: 220px;margin-right: 10px;}
	.-section-about .data-content .cover:before {top: 20px;right: 20px;}
	.-section-about .data-content .link {padding: 15px;}
	.-section-about .data-content .link .lazy {width: 25px;height: 20px;}
	.-section-about .data-content .link .txt {font-size: 14px;}

	#AboutMe .data-content {width: 600px;}
	#AboutMe .icon img {height: 25px;}
	#AboutMe .txt {font-size: 14px;}

	#Education .bg-education > div img {width: 530px;}
	#Education .inner {height: 200px;}
	#Education .item-list{width: 1000px;}
	#Education .icon {width: 32px;height: 32px;}
	#Education .icon img {max-width: 18px;max-height: 16px;}
	#Education .year {font-size: 16px;}
	#Education .txt {font-size: 12px;}
	#Education.open .up .year {bottom: 45px;}
	#Education.open .up .txt {bottom: 25px;}
	#Education.open .down .year {top: 40px;}
	#Education.open .down .txt {top: 25px;}

	#Skill .item-list {margin: -40px -20px;}
	#Skill .item-list li {padding: 0 20px;margin: 40px 0;}
	#Skill .txt {left: 20px;}
	#Skill .percent {right: 20px;}

	#Work .item-list {width: 50px;}
	#Work .icon {width: 50px;}
	#Work .icon img {max-width: 25px;max-height: 25px;}
	#Work .timeline {font-size: 12px;}
	#Work .txt {font-size: 14px;margin-top: 5px;}
	#Work .desc {font-size: 14px;}
	#Work.open .icon {width: 50px;height: 50px;}

	.-section-contact .data-content {width: 620px;}
	.-section-contact .wrapper .content .txt{margin-bottom: 0;}
	.-section-contact .wrapper .content .txt,
	.-section-contact .wrapper .content .link {font-size: 14px;}
	.-section-contact .wrapper .content .link br{display: none;}
	.-section-contact .item-list li {min-height: 120px; width: calc(100%/2);}
	.-section-contact .item-list li:nth-child(1) {padding-bottom: 0;padding-left: 110px;padding-top: 40px;}
	.-section-contact .item-list li:nth-child(2) {padding-bottom: 0;padding-left: 100px;padding-top: 40px;border-right: none;}
	.-section-contact .item-list li:nth-child(3){padding-bottom: 0;padding-left: 110px;padding-top: 40px;border-right: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc;}
	.-section-contact .item-list li:nth-child(4){padding-bottom: 0;padding-left: 100px;padding-top: 40px;border-right: none;}
	.-section-contact .item-list li:nth-child(5){padding-bottom: 0;padding-left: 110px;padding-top: 40px;border-right: 1px solid #dcdcdc;}
	.-section-contact .item-list li:nth-child(6){padding-bottom: 0;padding-left: 100px;padding-top: 40px;border-right: none;}
	
	.-section-portfolio .data-content{display: flex; align-items: center; justify-content: center; width: 100%;}
	.-section-portfolio .data-content > div{display: block;}
	.-section-portfolio .nav-tabs {bottom: 135px;}
	@keyframes p-nav-tabs {
		from {opacity:0; bottom: -10%;}
		to {opacity: 1; bottom: 135px;}
	}
	.-section-portfolio .portfolio-slider{width: 800px;}
	.-section-portfolio .portfolio-slider .link {@include transition(all 400ms ease-out);}
	.-section-portfolio .portfolio-slider .thumb:before {top: -5px;left: -5px;right: -5px;bottom: 5px;}
	.-section-portfolio .portfolio-slider .slick-slide .link {width: 260px;height: auto; }
	.-section-portfolio .portfolio-slider .slick-center {margin-left: -100px;margin-right: -100px;}
	.-section-portfolio .portfolio-slider .slick-center .link{width: 420px;}
	.-section-portfolio .portfolio-slider .slick-center .thumb:before {top: -10px;left: -10px;right: -10px;bottom: 10px;}
	
}

@media (max-width: 991px) {
	.container{max-width: inherit; width: 100%;}

	.site-header .logo-name {top: 20px;left: 20px;}
	@keyframes logo-name {
		from {opacity:0; top: -10%;}
		to {opacity: 1; top: 20px;}
	}
	.site-header .main-menu {top: 20px;right: 20px;}
	@keyframes main-menu {
		from {opacity:0; top: -10%;}
		to {opacity: 1; top: 20px;}
	}
	.site-header .main-menu .nav-menu.open {right: 240px;}

	.nav-close-menu {top: 20px;right: 20px;}

	.section .btn-left {left: 20px;}
	.section .btn-right {right: 20px;}
	.section .btn-bottom {bottom: 20px;}
	.section .btn-top {top: 105px;}

	@keyframes btn-left-in {
		from{left: -100%; opacity: 0;}
		to{left: 20px; opacity: 1;}
	}
	@keyframes btn-right-in {
		from{right: -100%; opacity: 0;}
		to{right: 20px; opacity: 1;}
	}
	@keyframes btn-bottom-in {
		from{bottom: -100%; opacity: 0;}
		to{bottom: 20px; opacity: 1;}
	}
	@keyframes btn-top-in {
		from{top: -100%; opacity: 0;}
		to{top: 105px; opacity: 1;}
	}

	.-section-about .data-content {width: 100%; display: flex; align-items: center; justify-content: center;}
	.-section-about .row-table{display: block;}
	.-section-about .row-table > div{display: block; width: auto;
		flex: 0 0 100%;
    	max-width: 100%;
	}
	.-section-about .data-content .cover{margin: 0 auto;}
	.-section-about .data-content .cover:before {top: -15px;right: -15px;}
	.-section-about .data-content .item-list {width: 450px;margin-top: 40px;}

	#AboutMe .data-content {width: 60%;}

	#Education .data-content{display: flex; align-items: center;white-space: nowrap;flex-wrap: nowrap;}
	#Education .data-content > div{display: block;}
	#Education .inner{display: flex; overflow-x: auto; padding: 0 30px; width: 100vw;}
	#Education .item-list {min-width: 1200px; width: inherit;}

	#Skill .content {width: 70%;}
	#Skill .item-list li{width: 100%;}


}

@media (max-width: 767px) {
	.container{max-width: inherit; width: 100%;}
}

@media (max-width: 575px) {
	.container{max-width: inherit; width: 100%;}
}