.site-footer{
    .corpyright{position: fixed; z-index: 4; left: 0; right: 0; bottom: 0; font-family: sans-serif;
        .txt{text-align: center; font-size: 10px; margin: 0; color: $color-lightgray;}
    }
}