.breadcrumb-block{padding: 5px 20px;background-color: $color-darkgray;}
.breadcrumb{background-color: $color-none;margin: 0;padding: 0;
    @include border-radius(0px);
    li{
        position: relative;
        .link{
            color: $color-light; font-size: 12px;line-height: 40px;
            &:hover{color: $color-light;}
        }
        &.active{
            max-width: 300px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;
        }
    }
    li + li{padding-left: 20px;margin-left: 10px;
        &:before{content: '';position: absolute; left: 0; top: 0;  bottom: 0; margin: auto;  padding: 0;width: 6px; height: 6px; 
            border-right: 1px solid $color-light; 
            border-bottom: 1px solid $color-light; 
            @include transform(rotate(-45deg)) 
        }
    }
}