.whead{position: absolute; z-index:4; left: 0; right: 0; bottom: 50px; text-align: center; pointer-events: none;
    animation: whead 3000ms;
    @keyframes whead {
        from {opacity:0; bottom: -10%;}
        to {opacity: 1; bottom: 50px;}
    }
    .title{margin: 0;font-size: 160px;font-weight: 900;line-height: 1; opacity: 0.05; color: $color-darkgray;}
}