/* frameworks */
.container {
  max-width: 1210px;
}

.row-0 {
  margin: 0;
}

.row-0 > div {
  padding: 0;
}

.row-10 {
  margin: 0 -5px;
}

.row-10 > div {
  padding: 0 5px;
}

.row-20 {
  margin: 0 -10px;
}

.row-20 > div {
  padding: 0 10px;
}

.row-40 {
  margin: 0 -20px;
}

.row-40 > div {
  padding: 0 20px;
}

.row-R > div {
  float: right;
}

.row-table {
  display: table;
  width: 100%;
}

.row-table > div {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  padding: 0;
}

.row-table .col {
  width: auto;
}

.row-table .col-auto {
  width: 1%;
}

.row-table.vlign-top > div {
  vertical-align: top;
}

.section-middle {
  display: table;
  width: 100%;
  height: 100vh;
}

.section-middle > div {
  display: table-cell;
  vertical-align: middle;
}

figure {
  margin: 0;
}

figure.cover {
  margin: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

figure.cover img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

figure.contain {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

figure.contain img {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

figure img {
  width: 100%;
  max-width: 100%;
}

.icon {
  position: relative;
}

.icon img {
  display: block;
}

a:focus,
button:focus {
  outline: none;
}

.btn,
.link {
  text-decoration: none;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.btn:focus,
.btn:hover,
.link:focus,
.link:hover {
  text-decoration: none;
}

input,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  max-width: 100%;
}

ul.item-list,
ul.nav-list {
  margin: 0;
  padding: 0;
}

ul.item-list li,
ul.nav-list li {
  list-style: none;
  float: left;
}

ul.item-list li a.link,
ul.nav-list li a.link {
  display: block;
}

ul.item-list:before, ul.item-list:after,
ul.nav-list:before,
ul.nav-list:after {
  content: ' ';
  display: table;
}

ul.item-list:after,
ul.nav-list:after {
  clear: both;
}

ul.item-list.fluid li,
ul.nav-lis.fluid li {
  width: 100%;
}

.iframe-container {
  position: relative;
  padding-bottom: 56%;
  overflow: hidden;
}

.iframe-container iframe, .iframe-container object, .iframe-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* config */
@font-face {
  font-family: 'db_helvethaica';
  src: url("../font/db_helvethaica_x_thin_v3.2-webfont.woff") format("woff");
  font-display: block;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url("../font/db_helvethaica_x_li_v3.2-webfont.woff2") format("woff2"), url("../font/db_helvethaica_x_li_v3.2-webfont.woff") format("woff");
  font-display: block;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url("../font/db_helvethaica_x_v3.2-webfont.woff2") format("woff2"), url("../font/db_helvethaica_x_v3.2-webfont.woff") format("woff");
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url("../font/db_helvethaica_x_med_v3.2-webfont.woff2") format("woff2"), url("../font/db_helvethaica_x_med_v3.2-webfont.woff") format("woff");
  font-display: block;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'db_helvethaica';
  src: url("../font/db_helvethaica_x_bd_v3.2-webfont.woff2") format("woff2"), url("../font/db_helvethaica_x_bd_v3.2-webfont.woff") format("woff");
  font-display: block;
  font-weight: bold;
  font-style: normal;
}

.text-primary {
  color: #00b8ff !important;
}

.text-secondary {
  color: #754199 !important;
}

.text-red {
  color: #ff0000 !important;
}

.text-gray {
  color: #666666 !important;
}

.text-lightgray {
  color: #999 !important;
}

.text-gold {
  color: #e9c87b !important;
}

.text-light {
  color: #ffffff !important;
}

.text-dark {
  color: #000000 !important;
}

.text-darkgray {
  color: #333333 !important;
}

.text-brown {
  color: #5B3C31 !important;
}

body {
  font-family: 'db_helvethaica';
  background-color: #fff;
  font-size: 16px;
  color: #333333;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'db_helvethaica';
}

.transition {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

/* components */
#preload {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  left: 0;
  top: 0;
  background-color: #fff;
}

.preload {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.preload .logo {
  width: 160px;
  height: 160px;
  padding: 30px;
  line-height: 110px;
}

.preload .loader {
  border: 2px solid;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border-color: #00b8ff transparent transparent;
  -webkit-animation: spins 1s linear infinite;
          animation: spins 1s linear infinite;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0.4;
}

@-webkit-keyframes spins {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

@keyframes spins {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-filter: hue-rotate(0);
            filter: hue-rotate(0);
  }
}

nav.menu li a.link {
  font-size: 18px;
  color: #333333;
  display: block;
}

nav.menu li a.link:hover {
  color: #754199;
}

nav.menu li.active a.link {
  color: #754199;
}

nav.menu li.dropdown a.link .icon {
  display: inline-block;
  vertical-align: middle;
}

nav.menu li.dropdown a.link .icon:before {
  content: "\f107";
  font-family: 'FontAwesome';
}

nav.menu li.dropdown.show a.link .icon:before {
  content: '\f106';
}

nav.menu li + li {
  margin-left: 20px;
}

nav.menu .dropdown-toggle::after {
  display: none;
}

nav.menu .dropdown-menu li {
  width: 100%;
}

nav.menu .dropdown-menu li + li {
  margin-left: 0;
  border-top: 1px solid #ebebeb;
}

.menu-mobile-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 3;
  width: 20px;
  height: 16px;
}

.menu-mobile-btn .btn-mobile {
  display: block;
  width: 20px;
  height: 16px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.menu-mobile-btn .btn-mobile .bar {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #00b8ff;
  margin: auto;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  border-radius: 2px;
}

.menu-mobile-btn .btn-mobile .bar:nth-child(1) {
  top: 0;
}

.menu-mobile-btn .btn-mobile .bar:nth-child(2) {
  top: 0;
  bottom: 0;
}

.menu-mobile-btn .btn-mobile .bar:nth-child(3) {
  top: 0;
  bottom: 0;
}

.menu-mobile-btn .btn-mobile .bar:nth-child(4) {
  bottom: 0;
}

.menu-mobile-btn .btn-mobile.close {
  opacity: 1;
}

.menu-mobile-btn .btn-mobile.close .bar:nth-child(1) {
  top: 0;
  opacity: 0;
}

.menu-mobile-btn .btn-mobile.close .bar:nth-child(2) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.menu-mobile-btn .btn-mobile.close .bar:nth-child(3) {
  top: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.menu-mobile-btn .btn-mobile.close .bar:nth-child(4) {
  bottom: 0;
  opacity: 0;
}

.slick-dots-container {
  overflow: hidden;
  display: block;
  padding: 0;
  position: relative;
  width: 5.5rem;
  margin: 0.625rem auto;
  height: 0.875rem;
}

.slick-dots-container > ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: unset;
  height: 100%;
  padding: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  position: relative;
  margin: 0;
  list-style: none;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.slick-dots-container > ul li.p-small-1,
.slick-dots-container > ul li.n-small-1 {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.slick-dots-container > ul li.slick-active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.slick-prev:before,
.slick-next:before {
  color: #333333;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #00b8ff;
}

.slick-prev, .slick-next {
  z-index: 1;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-dots li {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0 0.25rem;
}

.slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  background: #333333;
  border-radius: 50%;
}

.slick-dots li button:before {
  display: none;
}

.slick-dots li.slick-active button {
  background: #00b8ff;
}

.slick-slide .item {
  float: left;
}

.breadcrumb-block {
  padding: 5px 20px;
  background-color: #333333;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.breadcrumb li {
  position: relative;
}

.breadcrumb li .link {
  color: #ffffff;
  font-size: 12px;
  line-height: 40px;
}

.breadcrumb li .link:hover {
  color: #ffffff;
}

.breadcrumb li.active {
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumb li + li {
  padding-left: 20px;
  margin-left: 10px;
}

.breadcrumb li + li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  padding: 0;
  width: 6px;
  height: 6px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.pagination-block {
  text-align: center;
}

.pagination {
  margin: 0;
  display: inline-block;
}

.pagination .link {
  display: block;
  text-align: center;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  background-color: #333333;
  border-radius: 0px;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.pagination .link:hover {
  background-color: #333333;
  color: #ffffff;
}

.pagination .active .link {
  background-color: #333333;
  color: #ffffff;
}

.pagination li {
  display: inline-block;
  vertical-align: middle;
}

.pagination li + li {
  margin-left: 6px;
}

.editor-content .font-base, .editor-content .editor-content, .editor-content p {
  font-size: 24px;
  color: #666;
  margin-bottom: 20px;
}

.editor-content p:last-child {
  margin-bottom: 0;
}

.editor-content img {
  height: auto !important;
}

.whead {
  margin-bottom: 15px;
}

.whead .title {
  margin: 0;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1em;
}

.btn {
  background: none;
  position: relative;
  overflow: hidden;
  top: 0;
  z-index: 10;
  border: 1px solid transparent;
  padding: 0 10px;
  min-width: 120px;
  height: 50px;
  line-height: 48px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0px;
}

.btn.fluid {
  min-width: inherit;
  width: 100%;
  position: relative;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-primary {
  color: #ffffff;
  background-color: #00b8ff;
  border-color: #00b8ff;
}

.btn-primary:hover, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary:active:focus, .btn-primary.actitve:focus, .btn-primary:active.focus, .btn-primary.active.focus, .btn-primary:focus:hover, .btn-primary.focus:hover {
  color: #00b8ff;
  background-color: #ffffff;
  border-color: #00b8ff;
}

.btn-primary.disabled, .btn-primary.disabled:hover {
  color: #ffffff;
  background-color: #00b8ff;
  border-color: #00b8ff;
  opacity: 0.5;
}

.btn-secondary {
  color: #ffffff;
  background-color: #754199;
  border-color: #754199;
}

.btn-secondary:hover, .btn-secondary:active:hover, .btn-secondary.active:hover, .btn-secondary:active:focus, .btn-secondary.actitve:focus, .btn-secondary:active.focus, .btn-secondary.active.focus, .btn-secondary:focus:hover, .btn-secondary.focus:hover {
  color: #754199;
  background-color: #ffffff;
  border-color: #754199;
}

.btn-secondary.disabled, .btn-secondary.disabled:hover {
  color: #ffffff;
  background-color: #754199;
  border-color: #754199;
  opacity: 0.5;
}

.form-default .transition-ease, .form-default .floating-label {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.form-default .form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-default .control-label {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  line-height: 1.2em;
}

.form-default .form-control {
  line-height: 1.2em;
  padding: 10px 15px;
  font-size: 14px;
  color: #333;
  min-height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-default .form-control:focus {
  border-color: #333;
}

.form-default .floating-label {
  color: #333;
  font-size: 14px;
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 9px;
}

.form-default .form-control:focus ~ .floating-label,
.form-default .form-control:not(:focus):valid ~ .floating-label {
  color: #333;
  font-size: 12px;
  left: 0;
  top: -22px;
}

.form-default .block-control {
  position: relative;
}

.form-default .has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-default .has-success .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control-feedback {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-size: 100%;
}

.form-control-feedback:before {
  display: none;
}

.form-control-feedback.glyphicon-ok {
  background: url("../img/icon/checked.png") center no-repeat;
  background-size: 16px;
}

.form-control-feedback.glyphicon-remove {
  background: url("../img/icon/cancel.png") center no-repeat;
  background-size: 16px;
}

.radio-control {
  position: relative;
  display: inline-block;
  min-height: 34px;
  padding-left: 0;
}

.radio-control .icon {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 50%;
}

.radio-control .txt {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  line-height: 20px;
  display: block;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.radio-control input[type='radio'] {
  margin-top: 0;
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.radio-control input[type='radio']:checked ~ .icon {
  border-color: transparent;
  border-color: #333;
}

.radio-control input[type='radio']:checked ~ .icon:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #333;
  border-radius: 50%;
}

.checkbox-control {
  position: relative;
  display: inline-block;
}

.checkbox-control .icon {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  border-radius: 0;
}

.checkbox-control .txt {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  display: block;
}

.checkbox-control input[type='checkbox'] {
  margin-top: 0;
  position: absolute;
  z-index: 5;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.checkbox-control input[type='checkbox']:checked ~ .icon {
  border-color: transparent;
  background-color: #333;
}

.checkbox-control input[type='checkbox']:checked ~ .icon:before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../image/icon/checkbox.png") center no-repeat;
  background-size: 12px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* pages */
.brand .logo {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 350px;
  height: 272px;
}

.brand .logo-txt {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 260px;
  right: 0;
  bottom: 0;
  margin: auto;
  font-size: 20px;
  color: #666666;
  width: 90px;
  height: 16px;
  text-align: center;
}

/* layouts */
@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

.site-footer .stars, .site-footer .twinkling, .site-footer .clouds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.site-footer .stars {
  background: #fff url(../img/background/stars.png) repeat top center;
  z-index: 0;
}

.site-footer .twinkling {
  background: transparent url(../img/background/twinkling.png) repeat top center;
  z-index: 1;
  -webkit-animation: move-twink-back 200s linear infinite;
  animation: move-twink-back 200s linear infinite;
}

.site-footer .clouds {
  background: transparent url(../img/background/clouds3.png) repeat top center;
  z-index: 3;
  -webkit-animation: move-clouds-back 200s linear infinite;
  animation: move-clouds-back 200s linear infinite;
}

.site-footer .corpyright {
  position: fixed;
  z-index: 4;
  left: 0;
  right: 0;
  bottom: 0;
}

.site-footer .corpyright .txt {
  text-align: center;
  font-size: 14px;
  margin: 0;
  color: #999;
}

@media (max-width: 1600px) {
  .container {
    max-width: inherit;
    width: 1210px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: inherit;
    width: 1210px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: inherit;
    width: 970px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
  /*mobile-menu (start)*/
  .global-container {
    position: relative;
    overflow: hidden;
    right: 0;
  }
  .global-container .site-header .overlay {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .global-container .site-container {
    position: relative;
    right: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .global-container .site-footer {
    position: relative;
    right: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  .global-container.sidebar-open .site-header .overlay {
    opacity: 1;
    visibility: visible;
  }
  .global-container.sidebar-open .site-container {
    right: 260px;
  }
  .global-container.sidebar-open .site-footer {
    right: 260px;
  }
  .site-header > .container {
    position: relative;
    z-index: 99;
  }
  .site-header .overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .menu-mobile-btn {
    display: block;
  }
  nav.menu {
    position: fixed;
    z-index: 100;
    top: 80px;
    bottom: 0;
    width: 260px;
    overflow: auto;
    right: -260px;
    padding-left: 0;
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
  }
  nav.menu.open {
    right: 0;
  }
  nav.menu li {
    width: 100%;
    border-top: 1px solid #ebebeb;
  }
  /*mobile-menu (end)*/
}

@media (max-width: 767px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
}

@media (max-width: 575px) {
  .container {
    max-width: inherit;
    width: 100%;
  }
}
/*# sourceMappingURL=source.css.map */