body{
	font-family: 'Raleway', sans-serif;
	background-color: #fff;
	font-size:20px;
	color: $color-darkgray;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	margin: 0;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{font-family: 'Raleway', sans-serif;}

.transition{@include transition(all 200ms ease-out);}