.brand{
	.logo{position: fixed; z-index: 9; left: 0; top: 0; right: 0; bottom: 0; margin: auto;
		width: 350px; height: 272px;
	}
	.logo-txt{position: fixed; z-index: 9; left: 0; top: 260px; right: 0; bottom: 0; margin: auto; 
		font-size: 20px; color: $color-gray;
		width: 90px; height: 16px; text-align: center;
	}
}